.DS_Store
/.vscode
/.venv
/status.log
/data_backup
/yagoobot.code-workspace
__pycache__
/milestone/generated
/test/
/data/
/programs/data/
/ext/commands/custom.py
/.VSCodeCounter
/test.py
/setup
/data_old
/settings.yaml
